
/*borders for layout construction*/
* {
  border: 1px solid red;
}

/*header section*/

header {
  display: flex;
  background-color: white;
  width: 100%;
  height: 75px;
  font-size: 14px;
  font-family: Veranda;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid black;
  align-items: center;
  top: 0;
  color: black;
}

.mainlogo {
  display: flex;
  margin-left: 20px;
}

.mainlogo span {
  display: flex;
  padding-left: 10px;
  color: MediumAquamarine;
  align-items: center;
}

nav {
  display: flex;
  padding-right: 50px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

a {
  color: black;
}

/*main content section*/
.content {
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

/*general universal styles for content section*/

.leftcolumnstories {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.leftcolumnstories .headline {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.details {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin: 10px;
  margin-top: 15px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.leftcolumn .middlecolumn .rightcolumn {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/*left column section*/
.leftcolumn {
  width: 630px;
}

.mainstory.image {
  width: 630px;
  font-size: 40px;
  margin-top: 0;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  color: white;
  font-style: bold;
}

.mainstory.image span {
  margin-left: 20px;
  text-align: left;
}

.fallseason.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.hipster.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

/*middle column section*/
.middlecolumn {
  width: 300px;
}

.cat.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

/*right column section*/
.rightcolumn {
  width: 240;
}
